* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.right-link {
  display: flex;
  align-self: flex-start;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 8px;
}

ul {
  text-decoration: none;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.below-p {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin-top: 100px;
  width: 300px;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
  width: 380px;
  margin-top: 10px;
}

.btn {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 8px;
  padding: 7px 20px;
  margin-top: 13px;
  font-weight: 600;
}


.image-p {
  margin-top: 100px;
  background-color: rgb(167, 165, 165);
  color: #F9FAF8;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.below-hero {
  display: flex;
  justify-content: center;
}

.some-p {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  gap: 50px;
}


.one, .two, .three, .four {
  width: 200px;
  height: 200px;
  border: 4px solid blue;
  border-radius: 10px;
  margin-top: 25px;
}

.below-blue {
  display: flex;
}

.text {
  text-align: center;
  width: 170px;
  margin-left: 15px;
  font-size: 18px;
  color: #1F2937
}